extends layout

block content
  p My todos

  div#add-todo
    input#input-name(type='text', placeholder='Enter your name', name='input-name')
    input#input-task(type='text', placeholder='Enter a task', name='input-task')
    button(type='submit', id='submit-data') Submit

  div#search-user
    input#search-name(type='text', placeholder='Enter name', name='search-name', required)
    button(type='submit', id='search') Search

  p#status Test

  div#user