extends layout

block content
  h1= title
  p Welcome to #{title}
  p My todos

  form(action='/todo', method='post')
    input(type='text', placeholder='Enter your name', name='input-name', id='input-name')
    input(type='text', placeholder='Enter a task', name='input-task', id='input-task')
    button(type='submit', id='submit-data') Submit